DEFINES_MODULE = YES
DYLIB_COMPATIBILITY_VERSION = 1
DYLIB_CURRENT_VERSION = 1
DYLIB_INSTALL_NAME_BASE = @rpath
INSTALL_PATH = $(LOCAL_LIBRARY_DIR)/Frameworks
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks @loader_path/Frameworks
PRODUCT_BUNDLE_IDENTIFIER = ca.duan.Markdown2Jira
PRODUCT_NAME = $(TARGET_NAME:c99extidentifier)
PROVISIONING_PROFILE_SPECIFIER = 
SKIP_INSTALL = YES
